<h2>Gestion des consommations</h2>
@if( currentUser?.role!='Directeur') {
<div class="flex  gap-2">
    <p-button label="Ajouter consommation" icon="pi pi-plus" class="p-button-primary mb-3"
        (click)="displaySimpleMultipleButtons=!displaySimpleMultipleButtons;">
    </p-button>

    @if(displaySimpleMultipleButtons ) {
    <p-button label="Simple" icon="pi pi-file" severity="info" class=" mb-3" (click)="displaySimpleDialog=true">
    </p-button>
    <p-button label="Multiple" icon="pi pi-bars" severity="info" class="mb-3" (click)="showAjouterConoMultipleDialog()">
    </p-button>
    }
</div>
}


<div class="card">

    <div class="flex mb-8 gap-2 flex-wrap">
        <div class="">
            <p-select [options]="listTypeConsommation" placeholder="Choisir cycle"
                [(ngModel)]="selectedTypeconsommation" appendTo="body" (onChange)="changeLabelDate($event)">
            </p-select>
        </div>
        <div class="">
            <input pInputText [type]="labelDate=='Mois' ? 'month' : 'date'" id="date" class="col-span-2"
                autocomplete="off" [(ngModel)]="selectedDate" (change)="loadBusConsommationinTable()" required />
        </div>

        <div class="w-60 flex-auto justify-end">

            <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Recherche..." />
                </p-iconfield>
            </div>

        </div>
    </div>

    <p-table #dt [globalFilterFields]="['busId','bus.matricule', 'date', 'type', 'consommation']" showGridlines
        [value]=" listBusWithConsommation()" [rows]="9" [paginator]="true" [tableStyle]="{ 'min-width': '50rem' }">

        <ng-template #header let-columns>
            <tr>
                <th pSortableColumn="bus.matricule">Matricule
                    <p-sortIcon field="bus.matricule"></p-sortIcon>
                </th>
                <th pSortableColumn="date">{{labelDate}}
                    <p-sortIcon field="date"></p-sortIcon>
                </th>
                <th pSortableColumn="valeur">consommation
                    <p-sortIcon field="valeur"></p-sortIcon>
                </th>

                @if( currentUser?.role!='Directeur') {
                <th>Actions</th>}
            </tr>

        </ng-template>
        <ng-template #body let-bus>
            <tr>
                <td>{{ bus.matricule }} </td>
                @if ( bus.consommation && bus.consommation.length>0) {
                <td>{{ bus.consommation[0].date | date:'yyyy-MM-dd'}}</td>
                }
                @else {
                <td>-</td>
                }
                @if (bus.consommation &&bus.consommation.length>0) {
                <td>{{ bus.consommation[0]?.valeur}}</td>
                }
                @else {
                <td>-</td>
                }
                @if( currentUser?.role!='Directeur') {
                <td>
                    @if (bus.consommation==undefined || bus.consommation.length==0 ) {
                    <p-button icon="pi pi-plus" [rounded]="true" severity="success" [outlined]="true" class="mr-2"
                        (onClick)="showAjouterConsoDialog(bus)" />
                    }
                    @else {
                    <p-button icon="pi pi-pencil" [rounded]="true" severity="info" [outlined]="true" class="mr-2"
                        (onClick)="showUpdateDialog(bus.consommation[0])" />
                    <p-button icon="pi pi-trash" [rounded]="true" severity="danger" [outlined]="true"
                        (onClick)="showDeleteDialog(bus.consommation[0])" />
                    }

                </td>}
            </tr>
        </ng-template>
    </p-table>

</div>





<p-dialog header="Modifier une consommation" [modal]="true" [(visible)]="displayUpdateDialog"
    [style]="{ width: '25rem' }">

    <form [formGroup]="modconsommationForm">
        <div class="grid grid-cols-3 items-center mb-4">
            <label for="Matricule" class="font-semibold ">Matricule</label>
            <!-- <input pInputText id="busId" class="flex-auto" [(ngModel)]="modconsommation.busId" autocomplete="off" />-->
            <div class="col-span-2">
                <p-select class="w-full" [options]="listBus()" optionLabel="matricule" optionValue="id"
                    formControlName="busId" placeholder="Choisir matricule" appendTo="body"
                    [class.p-invalid]="modconsommationForm.get('busId')?.invalid && modconsommationForm.get('busId')?.touched">
                </p-select>
                @if(modconsommationForm.get('busId')?.invalid && modconsommationForm.get('busId')?.touched){
                <small class="text-red-500">Matricule obligatoire</small>
                }
            </div>
        </div>
        <div class="grid grid-cols-3 items-center mb-4">
            <label for="type" class="font-semibold w-24">type</label>
            <!-- <input pInputText id="type" class="flex-auto" [(ngModel)]="modconsommation.type" autocomplete="off" />-->
            <div class="col-span-2">
                <p-select [options]="listTypeConsommation" formControlName="type" placeholder="Choisir TYPE"
                    class="w-full" appendTo="body" (onChange)="changeLabelDate($event)"
                    [class.p-invalid]="modconsommationForm.get('type')?.invalid && modconsommationForm.get('type')?.touched">
                </p-select>
                @if(modconsommationForm.get('type')?.invalid && modconsommationForm.get('type')?.touched){
                <small class="text-red-500">Type obligatoire</small>
                }
            </div>
        </div>
        <div class="grid grid-cols-3 items-center mb-4">
            <label for="date" class="font-semibold ">{{labelDate}}</label>
            <div class="col-span-2">
                <input pInputText [type]="labelDate=='Mois' ? 'month' : 'date'" id="date" class="w-full"
                    formControlName="date" autocomplete="off"
                    [class.p-invalid]="modconsommationForm.get('date')?.invalid && modconsommationForm.get('date')?.touched" />
                @if(modconsommationForm.get('date')?.invalid && modconsommationForm.get('date')?.touched){
                <small class="text-red-500">Date obligatoire</small>
                }
            </div>
        </div>
        <div class="grid grid-cols-3 items-center mb-4">
            <label for="valeur" class="font-semibold ">Valeur</label>
            <div class="col-span-2">
                <input pInputText id="valeur" class="w-full" formControlName="valeur" autocomplete="off"
                    [class.p-invalid]="modconsommationForm.get('valeur')?.invalid && modconsommationForm.get('valeur')?.touched" />
                @if(modconsommationForm.get('valeur')?.invalid && modconsommationForm.get('valeur')?.touched){
                <small class="text-red-500">Valeur obligatoire</small>
                }
            </div>

        </div>
    </form>

    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="displayUpdateDialog.set(false)" />
        <p-button [disabled]="modconsommationForm.invalid" label="Save" (click)="updateConsommation()" />
    </div>
</p-dialog>
<!-- supprimer consommation -->
<p-dialog header="Supprimer une consommation" [modal]="true" [(visible)]="displayDeleteDialog"
    [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Voulez-vous vraiment supprimer cette consommation ?</span>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="displayDeleteDialog.set(false)" />
        <p-button label="remove" (click)="removeConsommation()" severity="danger" />
    </div>
</p-dialog>
<!--dialogue button simple-->
<p-dialog header="Ajouter Consommation simple" [modal]="true" [(visible)]="displaySimpleDialog" (onHide)="resetForm()">
    <!-- <span class="p-text-secondary  mb-8">Ajouter une consommation</span> -->
    <form [formGroup]="consForm">

        <div class="grid grid-cols-3 items-center mb-4">
            <label class="font-semibold">Matricule</label>

            <div class="col-span-2">
                <p-select class="w-full" [options]="listBus()" optionLabel="matricule" formControlName="bus"
                    placeholder="Choisir matricule"
                    [class.p-invalid]="consForm.get('bus')?.invalid && consForm.get('bus')?.touched">
                </p-select>

                @if(consForm.get('bus')?.invalid && consForm.get('bus')?.touched){
                <small class="text-red-500">Matricule obligatoire</small>
                }
            </div>
        </div>

        <div class="grid grid-cols-3 items-center mb-4">
            <label class="font-semibold">Type</label>

            <div class="col-span-2">
                <p-select [options]="listTypeConsommation" formControlName="type" placeholder="Choisir TYPE"
                    class="w-full" appendTo="body"
                    [class.p-invalid]="consForm.get('type')?.invalid && consForm.get('type')?.touched"
                    (onChange)="changeLabelDate($event)">
                </p-select>

                @if(consForm.get('type')?.invalid && consForm.get('type')?.touched){
                <small class="text-red-500">
                    Type obligatoire
                </small>
                }
            </div>
        </div>

        <div class="grid grid-cols-3 items-center mb-4">
            <label class="font-semibold">{{labelDate}}</label>

            <input pInputText [type]="labelDate=='Mois' ? 'month' : 'date'" id="date" class="col-span-2"
                formControlName="date"
                [class.p-invalid]="consForm.get('date')?.invalid && consForm.get('date')?.touched" />

            @if(consForm.get('date')?.invalid && consForm.get('date')?.touched){
            <small class="text-red-500 col-span-3">
                Date obligatoire
            </small>
            }
        </div>


        <div class="grid grid-cols-3 items-center mb-4">
            <label class="font-semibold">Valeur</label>

            <input pInputText type="number" class="col-span-2" formControlName="valeur"
                [class.p-invalid]="consForm.get('valeur')?.invalid && consForm.get('valeur')?.touched" />

            @if(consForm.get('valeur')?.invalid && consForm.get('valeur')?.touched){
            <small class="text-red-500 col-span-3">
                Valeur obligatoire
            </small>
            }
        </div>



    </form>


    <div class="flex justify-end items-center gap-4 mt-8">
        <p-button label="Cancel" severity="secondary" (click)="displaySimpleDialog=false" />
        <p-button [disabled]="consForm.invalid" label="Save" (click)="createConsommationSimple()" />
    </div>
</p-dialog>

<!--dialogue button multiple-->
<p-dialog header="Ajouter Consommation multiple" [modal]="true" [(visible)]="displayMultipleDialog"
    (onHide)="HideAjouterConsoMultipleDialog()">
    <div class="grid grid-cols-3 items-center mb-4">
        <label class="font-semibold">Type</label>

        <div class="col-span-2">
            <p-select [options]="listTypeConsommation" [(ngModel)]="newConsommation.type" placeholder="Choisir TYPE"
                class="w-full" appendTo="body" (onChange)="changeLabelDate($event)">
            </p-select>

            @if(consForm.get('type')?.invalid && consForm.get('type')?.touched){
            <small class="text-red-500">
                Type obligatoire
            </small>
            }
        </div>
    </div>
    <div class="grid grid-cols-3 items-center mb-4">

        <label for="date" class="font-semibold ">{{labelDate}}</label>
        <input pInputText [type]="labelDate=='Mois' ? 'month' : 'date'" id="date" class="col-span-2"
            [(ngModel)]="newConsommation.date" (change)="loadBusConsommation()" autocomplete="off" required />
    </div>


    <p-table [value]="listMultipleConsommation()" dataKey="id" editMode="cell">
        <ng-template #header>
            <tr>


                <th style="width:25%">Matricule</th>
                <th style="width:25%">Consommation</th>
            </tr>
        </ng-template>
        <ng-template #body let-bus let-editing="editing">
            <tr>

                <td>
                    <span>
                        {{bus.matricule}}
                    </span>
                    <ng-template #input>
                        <input pInputText type="text" [(ngModel)]="bus.matricule" fluid />
                    </ng-template>
                    <ng-template #output>
                        {{ bus.matricule }}
                    </ng-template>
                </td>
                @if(bus.consommation && bus.consommation.length > 0){
                <td>
                    <input pInputText type="number" [(ngModel)]="newConsommationMap[bus.id]"
                        (onChange)="onNewConsommation(bus, $event)" fluid />
                </td>
                }
                @else{
                <td>
                    <input pInputText type="number" [(ngModel)]="newConsommationMap[bus.id]"
                        (onChange)="onNewConsommation(bus, $event)" fluid />
                </td>
                }


            </tr>
        </ng-template>
    </p-table>


    <div class="flex justify-end items-center gap-4 mt-8">
        <p-button label="Annuler" severity="secondary" (click)="HideAjouterConsoMultipleDialog()" />
        <p-button label="Enregistrer" (click)="createMultipleConsommation()" />
    </div>
</p-dialog>